<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.freshbazaar3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Cart"></activity>
        <activity android:name=".SearchProducts" />
        <activity android:name=".ProductDisplays.ProductDisplaySeafood" />
        <activity android:name=".ProductDisplays.ProductDisplayFruit" />
        <activity android:name=".ProductDisplays.ProductDisplayEggs" />
        <activity android:name=".ProductDisplays.ProductDisplayDairy" />
        <activity android:name=".ProductDisplays.ProductDisplayCereal" />
        <activity android:name=".ProductDisplays.ProductDisplayVegetables" />
        <activity android:name=".Categories.Seafood" />
        <activity android:name=".Categories.Dairy" />
        <activity android:name=".Categories.Eggs" />
        <activity android:name=".Categories.Fruit" />
        <activity android:name=".Categories.Cereals" />
        <activity android:name=".Categories.Vegetables" />
        <activity android:name=".ItemUploadActivity"
            android:label="@string/title_item_upload"
            android:parentActivityName=".homepage2" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".reset" />
        <activity android:name=".launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login"
            android:noHistory="true" />
        <activity
            android:name=".privacy_policy"
            android:label="@string/title_policy"
            android:parentActivityName=".homepage2" />
        <activity
            android:name=".feedback"
            android:label="@string/title_feedback"
            android:parentActivityName=".homepage2" />
        <activity android:name=".About_us" />
        <activity
            android:name=".wallet"
            android:label="@string/title_wallet"
            android:parentActivityName=".homepage2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".homepage2" />
        </activity>
        <activity
            android:name=".legal_policy"
            android:label="@string/title_activity_legal_policy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".User_profile" />
        <activity
            android:name=".homepage2"
            android:label="@string/title_activity_homepage2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".cart" />
    </application>
</manifest>